{% extends '../base.html' %}
{% block title %}{% endblock title %}
{% block breadcrumb %} {{product.product_name}}{% endblock breadcrumb %}



{% block content %}


<!-- contacts -->
<section class="w3l-contacts-8">
  <div class="contacts-9 section-gap py-5">
    <div class="container py-lg-5">
      <div class="row top-map">
        <div class="col-lg-12 partners">
          <div class="cont-details">
            <h3 class="hny-title mb-0">Hello <span>Roa'a</span></h3>
            <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. In temporibus expedita sed quidem
              laborum minima harum reiciendis iure perferendis dolorum.</p>
          </div>

        </div>
      </div>

      <div class="row top-map">
        <div class="col-lg-6 partners">
          <div class="cont-details">
            <h3 class="hny-title mb-0">Account Information</h3>
            <p class="margin-top"><span class="texthny">Mobile: </span> +(21)
              255 999 8899</p>
            <p> <span class="texthny">Name : </span> Roa'a </p>

            <p> <span class="texthny">Email : </span> info@gmail.com</p>

          </div>
        </div>

        <div class="col-lg-6 partners">
          <div class="cont-details">
            <h3 class="hny-title mb-0">Address Book</h3>
            <p class="margin-top"><span class="texthny">Manage addresses </span></p>

            <p class="margin-top"> 433 California St, Suite 300
              San Francisco, CA 94104, USA </p>
          </div>
        </div>

      </div>

      <div class="row top-map py-5">
        <div class="col-lg-12 partners">
          <div class="cont-details">
            <h3 class="hny-title mb-2">My orders</h3>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ORDER</th>
                    <th scope="col">DATE</th>
                    <th scope="col">PAYMENT STATUS</th>
                    <th scope="col">FULFILLMENT STATUS</th>
                    <th scope="col">TOTAL</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">15489</th>
                    <td>Nov 2, 2020</td>
                    <td>Paid</td>
                    <td>Fulfilled</td>
                    <td>$58.60</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>
<!-- //contacts -->


<!-- Footer Section Begin -->
<footer class="footer-social-icons">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="footer-left" id="footer-left">

          <div class="footer-social">
            <h6>FOLLOW US</h6>
            <a href="https://www.instagram.com/souk.ca/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-pinterest"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<section class="home-newsletter">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="single">
          <h2>Sign up for souk news</h2>
          <div class="input-group">
            <input type="email" class="form-control" placeholder="Enter your email">
            <span class="input-group-btn">
              <button class="btn btn-theme" type="submit">Subscribe</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock content %}