{% extends 'base.html' %} 
{% block title %}Reset Password{% endblock title %} 
{% block breadcrumb %}Reset Password{% endblock breadcrumb %} 



{% block content %}

  <div class="login-page my-5">
   <div>
      <h1 id="RecoverHeading">Reset your password</h1>
      <p>We will send you an email to reset your password.</p>
    </div>

    <div class="form-vertical">
      
      <form method="post" action="/account/recover" id="RecoverForm" accept-charset="UTF-8">
        <input type="hidden" name="form_type" value="recover_customer_password">
        <input type="hidden" name="utf8" value="✓">
    
<div class="form-input-wrapper">
          <input class="form-input-wrapper__input" type="email" value="" name="email" id="RecoverForm-email" placeholder=" " autocorrect="off" autocapitalize="off" required="" aria-required="true">
          <label class="form-input-wrapper__label" for="RecoverForm-email">Email</label>
        </div>

        <input type="submit" class="button-primary" value="Submit">
        <span><a href="#login" id="HideRecoverPasswordLink">Cancel</a></span>
      </form>
    </div>
</div>



{% endblock content %}