{% for p in data %}

<div class="collection-list__product-tile">
            <div class="product-tile product-tile--placeholder">
              <form class="product-tile__form" action="/cart/add">
                <div class="product-tile__image-line">
                  <div class="product-tile__badges">
                    <span class="product-tile__badge"></span>
                  </div>
                  <button type="button" class="product-tile__wishlist" title="Add to wishlist">
                    <svg width="44" height="44" viewBox="0 0 44 44" title="Heart" fill="none" stroke-linecap="round"
                      stroke-linejoin="round" aria-hidden="true" focusable="false" role="presentation">
                      <path
                        d="M22 31.68l-8.85-9.23a5.24 5.24 0 0 1-1-6 5.24 5.24 0 0 1 8.41-1.37L22 16.5l1.44-1.42a5.24 5.24 0 0 1 8.38 1.36 5.24 5.24 0 0 1-1 6L22 31.68z">
                      </path>
                    </svg>
                  </button>
                  <a class="product-tile__image-link">
                    <img loading="lazy" class="product-tile__image product-tile__image--primary"
                      alt="Image of Buckle Up Sis Skinny Jeans - Black"
                      src="https://cdn.shopify.com/s/files/1/0293/9277/products/10-07-19_Studio_3_JP_RE_11-59-24_19__VID9250_Mocha_0993_JK_760x.jpg?v=1572888051" />
                  </a>
                  <a class="product-tile__image-link" href="">
                    <img loading="lazy" class="product-tile__image product-tile__image--alternate"
                      alt="Image of Buckle Up Sis Skinny Jeans - Black"
                      src="//cdn.shopify.com/s/files/1/0293/9277/products/11-11-19_Studio_3_RM_RE_PR_11-38-31_20__N17057_WhiteBlack_0693_NT_8363c1fe-ab0b-43f3-93ac-74024e938a65_360x.jpg?v=1597089628" />
                  </a>
                  <button type="button" class="
                      product-tile__toggle-alternate-image
                      product-tile__toggle-alternate-image--left
                    ">
                    <svg width="44" height="44" fill="none" stroke="#000" stroke-width="1.5">
                      <path d="M22 14l-8 8 8 8"></path>
                    </svg>
                    <span>Toggle Alternate Image Visibility</span>
                  </button>
                  <button type="button" class="
                      product-tile__toggle-alternate-image
                      product-tile__toggle-alternate-image--right
                    ">
                    <svg width="44" height="44" fill="none" stroke="#000" stroke-width="1.5">
                      <path d="M22 14l8 8-8 8"></path>
                    </svg>
                    <span>Toggle Alternate Image Visibility</span>
                  </button>
                </div>
                <div class="product-tile__content-line">
                  <div class="product-tile__bottom-tag-line" style="color: #ca9455">
                    30-70% OFF SITEWIDE! USE CODE: SAVE30
                  </div>
                  <div class="product-tile__product-title">
                    <a href="single_product.html"> Product name </a>
                  </div>
                  <a href="" class="brand_name"> Vendor name</a>
                  <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                  </ul>
                  <div class="product-tile__price-line">
                    <span class="product-tile__price"><span class="money">$44.99 </span></span>
                  </div>
                  <div class="product-tile__cta-line">
                    <button type="button" data-variant-id="12196399513724" class="product-tile__show-variants">
                      Add To Bag
                      <svg width="18" height="8" fill="none" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path d="M9 1l4 4l4-4"></path>
                      </svg>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>

{% endfor %}